scikit-image
scipy
plyfile
coolname
hydra-core
getch
tqdm
pyquaternion
dill
jinja2
pandas
vispy
hydra-core
geometry-perception-utils-dev @ git+https://github.com/EnriqueSolarte/geometry_perception_utils.git@latest
numpy==1.26.4
autopep8